<p>All avaibles items</p>
<% @items.each do |item| %>
<div class="container">
	<ul class="list-group">
		<li class="list-group-item">
			<%= item.name %>
		</li>
		<li class="list-group-item">
			<%= item.price %>
		</li>
		<li class="list-group-item">
			<%= item.description %>
		</li>
	</ul> 
	</br>
</div>
<% end %>